*,
.navbar {
  padding: 0;
  margin: 0;
}

body {
  background: #eee;
}

canvas {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.navbar {
  height: 50px;
}

canvas {
  /*width="480" height="320"*/
  /*width: 480px;
  height: 320px;*/
  background: #eee;
  display: block;
  margin: 0 auto;
}
